*.json
*.py[cod]
*.log
*.egg-info
venv
.venv
docs/_build
docs/crowdin.py
*.buildinfo
*.mp3
*.m4a
*.wav
*.png
*.jpg
*.flac
*.mo
build/lib/discord/__init__.py
build/lib/discord/__main__.py
build/lib/discord/abc.py
build/lib/discord/activity.py
build/lib/discord/appinfo.py
build/lib/discord/asset.py
build/lib/discord/audit_logs.py
build/lib/discord/backoff.py
build/lib/discord/bin/libopus-0.x64.dll
build/lib/discord/bin/libopus-0.x86.dll
build/lib/discord/channel.py
build/lib/discord/client.py
build/lib/discord/colour.py
build/lib/discord/components.py
build/lib/discord/context_managers.py
build/lib/discord/embeds.py
build/lib/discord/emoji.py
build/lib/discord/enums.py
build/lib/discord/errors.py
build/lib/discord/ext/commands/__init__.py
build/lib/discord/ext/commands/_types.py
build/lib/discord/ext/commands/bot.py
build/lib/discord/ext/commands/cog.py
build/lib/discord/ext/commands/context.py
build/lib/discord/ext/commands/converter.py
build/lib/discord/ext/commands/cooldowns.py
build/lib/discord/ext/commands/core.py
build/lib/discord/ext/commands/errors.py
build/lib/discord/ext/commands/flags.py
build/lib/discord/ext/commands/help.py
build/lib/discord/ext/commands/view.py
build/lib/discord/ext/tasks/__init__.py
build/lib/discord/file.py
build/lib/discord/flags.py
build/lib/discord/gateway.py
build/lib/discord/guild.py
build/lib/discord/http.py
build/lib/discord/integrations.py
build/lib/discord/interactions.py
build/lib/discord/invite.py
build/lib/discord/iterators.py
build/lib/discord/member.py
build/lib/discord/mentions.py
build/lib/discord/message.py
build/lib/discord/mixins.py
build/lib/discord/object.py
build/lib/discord/oggparse.py
build/lib/discord/opus.py
build/lib/discord/partial_emoji.py
build/lib/discord/permissions.py
build/lib/discord/player.py
build/lib/discord/py.typed
build/lib/discord/raw_models.py
build/lib/discord/reaction.py
build/lib/discord/role.py
build/lib/discord/scheduled_event.py
build/lib/discord/shard.py
build/lib/discord/stage_instance.py
build/lib/discord/state.py
build/lib/discord/sticker.py
build/lib/discord/team.py
build/lib/discord/template.py
build/lib/discord/threads.py
build/lib/discord/types/__init__.py
build/lib/discord/types/activity.py
build/lib/discord/types/appinfo.py
build/lib/discord/types/audit_log.py
build/lib/discord/types/channel.py
build/lib/discord/types/components.py
build/lib/discord/types/embed.py
build/lib/discord/types/emoji.py
build/lib/discord/types/gateway.py
build/lib/discord/types/guild.py
build/lib/discord/types/integration.py
build/lib/discord/types/interactions.py
build/lib/discord/types/invite.py
build/lib/discord/types/member.py
build/lib/discord/types/message.py
build/lib/discord/types/raw_models.py
build/lib/discord/types/role.py
build/lib/discord/types/scheduled_event.py
build/lib/discord/types/snowflake.py
build/lib/discord/types/sticker.py
build/lib/discord/types/team.py
build/lib/discord/types/template.py
build/lib/discord/types/threads.py
build/lib/discord/types/user.py
build/lib/discord/types/voice.py
build/lib/discord/types/webhook.py
build/lib/discord/types/welcome_screen.py
build/lib/discord/types/widget.py
build/lib/discord/ui/__init__.py
build/lib/discord/ui/button.py
build/lib/discord/ui/item.py
build/lib/discord/ui/select.py
build/lib/discord/ui/view.py
build/lib/discord/user.py
build/lib/discord/utils.py
build/lib/discord/voice_client.py
build/lib/discord/webhook/__init__.py
build/lib/discord/webhook/async_.py
build/lib/discord/webhook/sync.py
build/lib/discord/widget.py
